# Ignora dependencias instaladas (se reinstalarán en la imagen)
node_modules
dist

# Archivos y carpetas comunes que no se necesitan en la imagen
.dockerignore
Dockerfile
docker-compose.yml
.env
.env.development
.env.production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del editor/IDE
.vscode
.idea
*.swp

# Control de versiones
.git
.gitignore
